@using Microsoft.AspNetCore.Components.Forms
@inject IWebHostEnvironment env

<div class="upload-photo">
    <label class="photo-icon">
        <img id="photo-preview" src="@PhotoUrl" alt="Preview" style="@(string.IsNullOrEmpty(PhotoUrl) ? "display:none;" : "display:block;")" />
        <i class="bi bi-camera"></i>
        <InputFile id="photo-upload" accept="image/*" OnChange="HandleFileSelected" style="opacity: 0; position: absolute; width: 100%; height: 100%; cursor: pointer;" />
    </label>
    <p>Upload Photo</p>
</div>

@code {
    [Parameter]
    public string PhotoUrl { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> OnFileSelected { get; set; }

    private IBrowserFile? _file;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;

        if (IsValidImageFile(file))
        {
            _file = file;
            PhotoUrl = await ConvertToBase64Async(file);
            await OnFileSelected.InvokeAsync(PhotoUrl);
        }
        else
        {
            PhotoUrl = string.Empty;
            _file = null;
        }

        StateHasChanged();
    }

    private bool IsValidImageFile(IBrowserFile file)
    {
        return file != null && file.ContentType.StartsWith("image/") && file.Size <= 5 * 1024 * 1024; // 5MB
    }

    private async Task<string> ConvertToBase64Async(IBrowserFile file)
    {
        using (var stream = new MemoryStream())
        {
            await file.OpenReadStream().CopyToAsync(stream);
            var base64 = Convert.ToBase64String(stream.ToArray());
            return $"data:{file.ContentType};base64,{base64}";
        }
    }

    public async Task<string?> SaveFileAsync()
    {
        if (_file != null)
        {
            var uploadsFolder = Path.Combine(env.WebRootPath, "Uploads");
            Directory.CreateDirectory(uploadsFolder);

            var uniqueFileName = $"{Guid.NewGuid()}_{_file.Name}";
            var filePath = Path.Combine(uploadsFolder, uniqueFileName);

            using (var stream = new FileStream(filePath, FileMode.Create))
            {
                await _file.OpenReadStream().CopyToAsync(stream);
            }

            _file = null;

            return $@"Uploads\{uniqueFileName}";
        }

        return null;
    }
}
