@page "/lecturer/timetable"
@layout SIMS.Shared.Layouts.MainLayout
@using SIMS.Shared.Models
@inject SIMS.Shared.Services.HeaderTitleService HeaderTitleService

<PageTitle>Timetable</PageTitle>

<h3>Comming Soon</h3>

@code {
    private string HeaderTitle = "Timetable";

    protected override void OnInitialized()
    {
        HeaderTitleService.Title = HeaderTitle;
    }
}
