@page "/lecturer/attendance"
@layout SIMS.Shared.Layouts.MainLayout
@using SIMS.Shared.Models
@inject SIMS.Shared.Services.HeaderTitleService HeaderTitleService

<PageTitle>Attendance</PageTitle>

<h3>Comming Soon</h3>

@code {
    private string HeaderTitle = "Attendance";

    protected override void OnInitialized()
    {
        HeaderTitleService.Title = HeaderTitle;
    }
}
