@inherits LayoutComponentBase

<PageTitle>KUPOKATRI</PageTitle>

<header class="header container">
    <div class="header-container row">
        <div class="col col-lg-2 header-logo">
            <a href="/" class="logo">
                <Logo />
            </a>
        </div>

        <div class="col col-lg-8">
            <ul class="nav nav-justified header-nav">
                <li class="nav-item">
                    <a class="nav-link header-tab" href="admission">Admission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header-tab" href="education-program">Education Program</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header-tab" href="about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header-tab" href="contact">Contact</a>
                </li>
            </ul>
        </div>

        <div class="col col-lg-2 header-button">
            <a class="primary-button" href="register">
                Register
            </a>
        </div>
    </div>
</header>


