.header {
    height: 80px;
    background-color: var(--white);
    border-bottom: var(--primary-2px-color);
    position: relative; /* Ensure the header content is positioned relative to the video background */

    .header-container {
        height: 100%;
        padding: 10px 0;

        .header-logo {
            height: 100%;

            .logo {
                height: 100%;
            }
        }

        .header-nav {
            height: 100%;
            transition-property: all;
            transition-duration: .6s;
            transition-timing-function: ease;

            .header-tab {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                color: var(--primary-color);
                font-size: 1.8rem;
                font-weight: 600;
                letter-spacing: 0;

                &:hover, &:active {
                    letter-spacing: 1px;
                    border-bottom: var(--primary-2px-border);
                }
            }
        }

        .header-button {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .primary-button {
                color: var(--white);

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.main-content {
    position: relative; /* Ensure the main content is positioned relative to the video background */
    height: 100vh; /* Adjust height as needed */
    overflow: hidden;

    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1; /* Ensure the video is behind the main content */
    }

    .video-background video {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1; /* Ensure the video is behind the main content */
    }
}
