@inherits LayoutComponentBase

<PageTitle>KUPOKATRI</PageTitle>

<header class="header">
    <div class="header-container row">
        <div class="col col-lg-2">
            <a href="/" class="header-logo">
                <SIMS.Shared.Components.Logo />
            </a>
        </div>

        <div class="col col-lg-8">
            <a href="/" class="header-logo">
                <SIMS.Shared.Components.Logo />
            </a>
        </div>

        <div class="col col-lg-2">
            <a href="/" class="header-logo">
                <SIMS.Shared.Components.Logo />
            </a>
        </div>
    </div>
</header>


