@page "/admin/account-management"
@layout SIMS.Shared.Layouts.MainLayout
@using SIMS.Shared.Models
@using System.Text.Json;
@using SIMS.Data.Entities;
@inject SIMS.Shared.Services.HeaderTitleService HeaderTitleService
@inject SIMS.Shared.Functions.DatabaseInteractionFunctions DatabaseFunctions

<PageTitle>Account</PageTitle>

@if (accounts != null)
{
    <Table Data="@accounts" Columns="@columns" />
}
else
{
    <p>Loading...</p>
}

@code {
    private string HeaderTitle = "Account";
    private IEnumerable<Accounts> accounts;
    private List<TableColumn<Accounts>> columns;

    protected override async Task OnInitializedAsync()
    {
        HeaderTitleService.Title = HeaderTitle;
        await LoadAccounts();
    }

    private async Task LoadAccounts()
    {
        accounts = await DatabaseFunctions.LoadData<Accounts>("api/SIMS/GetAccount");

        // Define columns for the table
        columns = new List<TableColumn<Accounts>>
        {
            new TableColumn<Accounts> { Header = "Member Code", Value = acc => acc.MemberCode },
            new TableColumn<Accounts> { Header = "Email", Value = acc => acc.Email },
            new TableColumn<Accounts> { Header = "Name", Value = acc => acc.Name },
            new TableColumn<Accounts> { Header = "Role", Value = acc => acc.Role },
            new TableColumn<Accounts> { Header = "Created At", Value = acc => acc.CreatedAt.ToString("dd/MM/yyyy") },
            new TableColumn<Accounts> { Header = "Updated At", Value = acc => acc.UpdatedAt.ToString("dd/MM/yyyy") },
        };
    }
}
