@inherits LayoutComponentBase
@using SIMS.Shared.Components
@using SIMS.Shared.Models
@using Microsoft.AspNetCore.Components
@using System.Collections.Generic
@using SIMS.Shared.Services
@inject SIMS.Shared.Services.MenuService MenuService

<CascadingValue Value="this">
    <div class="main-layout">
        <div class="main-layout__container row">
            <div class="col col-lg-2" style="padding: 0;">
                <Sidebar MenuItems="@MenuService.MenuItems" />
            </div>
            <div class="col col-lg-10" style="padding: 0;">
                <Header Title="@HeaderTitle" />
                <Table/>
                @Body
            </div>
        </div>
    </div>
</CascadingValue>

@code {
    public List<MenuItem> MenuItems { get; set; } = new List<MenuItem>();

    [Parameter]
    public string HeaderTitle { get; set; }
}
