@inherits LayoutComponentBase
@inject SIMS.Shared.Services.MenuService MenuService
@inject SIMS.Shared.Services.HeaderTitleService HeaderTitleService
@inject NavigationManager Navigation
@inject DisplayComponent DisplayComponent

<CascadingValue Value="this">
    <div class="main-layout">
        <div class="main-layout__container row">
            <div class="col col-lg-2" style="padding: 0;">
                <Sidebar MenuItems="@MenuService.MenuItems" />
            </div>
            <div class="col col-lg-10" style="padding: 0 0 0 1px;">
                <Header Title="@HeaderTitleService.Title" /> 
                
                @if (Display())
                {
                    <Banner/>
                }
                else
                {
                    
                }
                @Body
            </div>
        </div>
    </div>
</CascadingValue>

@code {
    public List<MenuItem> MenuItems { get; set; } = new List<MenuItem>();

    protected override void OnInitialized()
    {
        HeaderTitleService.PropertyChanged += HeaderTitleService_PropertyChanged;
        DisplayComponent.Navigation = Navigation;
    }

    private void HeaderTitleService_PropertyChanged(object sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName == nameof(HeaderTitleService.Title))
        {
            InvokeAsync(StateHasChanged);
        }
    }

    private bool Display()
    {
        string[] uris = { "admin", "student", "lecturer" };
        return DisplayComponent.Display(uris);
    }
}