.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container .logo {
  width: 120px;
  height: 120px;
}
.container .title {
  margin: 32px 0;
  color: var(--primary-bold-color);
  font-size: 3.2rem;
  font-weight: 700;
}
.container .form {
  width: 400px;
  padding: 20px 16px;
}
.container .form .form-field {
  margin-bottom: 16px;
}
.container .form .form-field .form-label {
  margin-bottom: 8px;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 700;
}
.container .form .form-field .form-input {
  width: 100%;
  height: 44px;
  padding: 0 16px;
  background-color: var(--white);
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 4px;
}
.container .form .primary-button {
  margin-top: 8px;
}
.container .google-button {
  padding: 0;
  width: 404px;
  height: 44px;
  background-color: var(--white);
  border: 2px solid var(--primary-color);
  border-radius: 1000px;
}
