.container {
  padding: 10px 24px;
  position: sticky;
  top: 96px;
  right: 0;
  background-color: var(--white);
  z-index: 1000;
}
.container .filter {
  display: flex;
  align-items: center;
}
.container .filter-button {
  position: relative;
  border-radius: 100px;
  padding: 4px 12px;
  margin-right: 12px;
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  cursor: pointer;
}
.container .filter-button .filter-icon {
  color: var(--light-grey);
  margin-right: 4px;
}
.container .filter-button .filter-label {
  color: var(--primary-text-color);
}
.container .filter-button .show-icon {
  color: var(--light-grey);
  margin-left: 4px;
  transition: transform 0.3s ease;
}
.container .filter-button.show .show-icon {
  transform: rotate(180deg);
}
.container .filter-button.active, .container .filter-button:hover {
  border: var(--primary-1px-border);
  color: var(--primary-color);
}
.container .filter-button.active .filter-label, .container .filter-button.active .show-icon, .container .filter-button:hover .filter-label, .container .filter-button:hover .show-icon {
  color: var(--primary-color);
}
.container .filter-item-wrapper {
  position: relative;
}
.container .filter-item-wrapper .filter-select-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 8px 40px 8px 12px;
  margin-top: 8px;
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
.container .filter-item-wrapper .filter-select-wrapper.show {
  max-height: 200px;
  opacity: 1;
  border: var(--primary-1px-color);
}
.container .filter-item-wrapper .filter-select-wrapper .filter-select {
  padding: 0;
}
.container .filter-item-wrapper .filter-select-wrapper .filter-select .filter-option {
  display: flex;
  align-items: center;
}
.container .filter-item-wrapper .filter-select-wrapper .filter-select .filter-option:hover {
  background-color: var(--primary-hover-color);
}
.container .filter-item-wrapper .filter-select-wrapper .filter-select .filter-option .filter-checkbox {
  margin-right: 8px;
}
.container .filter-item-wrapper .filter-select-wrapper .filter-select .filter-option .filter-label {
  color: var(--primary-text-color);
  cursor: pointer;
}
.container .search .search-field {
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-text-color);
  padding: 0 12px;
  border-radius: 4px;
}
.container .search .search-field:hover {
  border: var(--primary-1px-border);
}
.container .search .search-field:hover .search-icon, .container .search .search-field:hover .search-input, .container .search .search-field:hover .search-input::placeholder {
  color: var(--primary-color);
}
.container .search .search-field:focus-within {
  border: var(--primary-1px-border);
  box-shadow: 0 0 0 2px var(--primary-1px-border);
}
.container .search .search-field:focus-within .search-icon, .container .search .search-field:focus-within .search-input::placeholder {
  color: var(--primary-color);
}
.container .search .search-field .search-icon {
  color: var(--secondary-text-color);
  margin-right: 12px;
}
.container .search .search-field .search-input {
  flex: 1;
  color: var(--secondary-text-color);
}
