.container {
    padding: 10px 24px;
    position: sticky;
    top: 96px;
    right: 0;
    background-color: var(--white);
    z-index: 1000;

    
    .filter {
        display: flex;
        align-items: center;
    }

    .filter-button {
        position: relative;
        border-radius: 100px;
        padding: 4px 12px;
        margin-right: 12px;
        background-color: var(--white);
        border: 1px solid var(--light-grey);
        cursor: pointer;

        .filter-icon {
            color: var(--light-grey);
            margin-right: 4px;
        }

        .filter-label {
            color: var(--primary-text-color);
        }

        .show-icon {
            color: var(--light-grey);
            margin-left: 4px;
            transition: transform 0.3s ease;
        }

        &.show .show-icon {
            transform: rotate(180deg);
        }

        &.active, &:hover {
            border: var(--primary-1px-border);
            color: var(--primary-color);

            .filter-label, .show-icon {
                color: var(--primary-color);
            }
        }
    }

    .filter-item-wrapper {
        position: relative;

        .filter-select-wrapper {
            position: absolute;
            top: 100%;
            left: 0;
            padding: 8px 40px 8px 12px;
            margin-top: 8px;
            background-color: var(--white);
            border: 1px solid var(--light-grey);
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            transition: max-height 0.3s ease, opacity 0.3s ease;

            &.show {
                max-height: 200px;
                opacity: 1;
                border: var(--primary-1px-color);
            }

            .filter-select {
                padding: 0;

                .filter-option {
                    display: flex;
                    align-items: center;

                    &:hover {
                        background-color: var(--primary-hover-color);
                    }

                    .filter-checkbox {
                        margin-right: 8px;
                    }

                    .filter-label {
                        color: var(--primary-text-color);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .search {

        .search-field {
            height: 100%;
            display: flex;
            align-items: center;
            border: 1px solid var(--secondary-text-color);
            padding: 0 12px;
            border-radius: 4px;

            &:hover {
                border: var(--primary-1px-border);

                .search-icon, .search-input, .search-input::placeholder {
                    color: var(--primary-color);
                }
            }

            &:focus-within {
                border: var(--primary-1px-border);
                box-shadow: 0 0 0 2px var(--primary-1px-border);

                .search-icon, .search-input::placeholder {
                    color: var(--primary-color);
                }
            }

            .search-icon {
                color: var(--secondary-text-color);
                margin-right: 12px;
            }

            .search-input {
                flex: 1;
                color: var(--secondary-text-color);
            }
        }
    }
}
