.bordered-container {
    width: calc(100% - 48px);
    margin: 24px;
    border: var(--primary-2px-border);
    padding: 16px;
    border-radius: 8px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        background-color: var(--white);
        border-radius: 8px;
        padding: 20px;
        width: 100%;
        max-width: 834px;
        text-align: center;

        .upload-photo {
            margin-bottom: 30px;
        }

        .form-group {
            display: flex;
            flex-wrap: wrap; // Allow items to wrap to the next line
            gap: 15px; // Adjust spacing between form groups

            .input-container {
                flex: 1 1 45%; // Make input containers responsive and take up around 45% of the width
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                label {
                    margin-bottom: 5px;
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.6);
                    text-align: left;
                    width: 100%;
                }

                .input-field {
                    width: 100%;
                    height: 40px;
                    padding: 10px;
                    border: var(--primary-1px-border);
                    border-radius: 4px;
                    box-sizing: border-box;
                }

                select.input-field {
                    -webkit-appearance: none; // Remove default styling on select
                    -moz-appearance: none;
                    appearance: none;
                    background-color: var(--white);
                    cursor: pointer;
                }
            }
        }

        .custom-button {
            width: 360px;
            font-size: 1.6rem;
            font-weight: 600;
            border-radius: 1000px;
            margin-top: 20px; // Add spacing above the button
        }

        .alert {
            margin-top: 20px;
            padding: 10px;
            border-radius: 4px;
            font-weight: bold;
            color: var(--white);
            background-color: var(--primary-color); // Adjust as needed for success
            &.alert-danger {
                background-color: var(--danger-color); // Adjust as needed for errors
            }
        }
    }
}
