.bordered-container {
  width: calc(100% - 48px);
  margin: 24px;
  border: var(--primary-2px-border);
  padding: 16px;
  border-radius: 8px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bordered-container .container {
  background-color: var(--white);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 834px;
  text-align: center;
}
.bordered-container .container .upload-photo {
  margin-bottom: 30px;
}
.bordered-container .container .form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.bordered-container .container .form-group .input-container {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bordered-container .container .form-group .input-container label {
  margin-bottom: 5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  width: 100%;
}
.bordered-container .container .form-group .input-container .input-field {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: var(--primary-1px-border);
  border-radius: 4px;
  box-sizing: border-box;
}
.bordered-container .container .form-group .input-container select.input-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--white);
  cursor: pointer;
}
.bordered-container .container .custom-button {
  width: 360px;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 1000px;
  margin-top: 20px;
}
.bordered-container .container .alert {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--primary-color);
}
.bordered-container .container .alert.alert-danger {
  background-color: var(--danger-color);
}
