@inject SIMS.Shared.Services.HeaderTitleService HeaderTitleService
@inject DisplayComponent DisplayComponent
@inject NavigationManager Navigation

<header class="header">
    <div class="header-top">
        <a class="action-link">
            <i class="bi bi-bell action-icon"></i>
        </a>
        <a class="action-link">
            <img class="avatar" src="@HeaderTitleService.OfficialAvatar" alt="Avatar" />
        </a>
    </div>
    <div class="header-bottom">
        <div>
            <h1 class="header-title">
                @Title
            </h1>
        </div>
        <div>
            @if (DisplayAddButton())
            {
                <a class="add-button" href="/addedit/add">
                    <i class="bi bi-plus-lg add-icon"></i>
                    <span class="add-content">Add</span>
                </a>
            }
        </div>
    </div>
</header>

@code {
    [Parameter]
    public string Title { get; set; }

    private bool DisplayAddButton()
    {
        var uri = Navigation.ToBaseRelativePath(Navigation.Uri);

        if (uri.EndsWith("management"))
        {
            return true;
        }
        return false;
    }
}
