@inject SIMS.Shared.Services.HeaderTitleService HeaderTitleService
@inject DisplayComponent DisplayComponent
@inject NavigationManager Navigation

<header class="header">
    <div class="header-top">
        <a class="action-link">
            <i class="bi bi-bell action-icon"></i>
        </a>
        <a class="action-link">
            <img class="avatar" src="@HeaderTitleService.OfficialAvatar" alt="Avatar" />
        </a>
    </div>
    <div class="header-bottom">
        <div>
            <h1 class="header-title">
                @Title
            </h1>
        </div>
        <div>
            @if (DisplayAddButton())
            {
                <a class="add-button" href="@GetAddUrl()">
                    <i class="bi bi-plus-lg add-icon"></i>
                    <span class="add-content">Add</span>
                </a>
            }
        </div>
    </div>
</header>

@code {
    [Parameter]
    public string Title { get; set; }

    private bool DisplayAddButton()
    {
        var uri = Navigation.ToBaseRelativePath(Navigation.Uri);
        return uri.EndsWith("management", StringComparison.OrdinalIgnoreCase);
    }

    private string GetAddUrl()
    {
        try
        {
            var uri = Navigation.ToBaseRelativePath(Navigation.Uri);
            var segments = uri.Split('/');
            if (segments.Length > 1)
            {
                var lastSegment = segments[^1];
                var entity = lastSegment.Replace("-management", "", StringComparison.OrdinalIgnoreCase);
                var addUrl = $"/form/add/{entity}";
                return addUrl;
            }

            return "#";
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error in GetAddUrl: {ex.Message}");
            return "#";
        }
    }
}