.header {
  position: sticky;
  top: 0;
  right: 0;
  height: 96px;
  background-color: var(--white);
  z-index: 1000;
}
.header .header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 44px;
  padding: 10px 24px;
  border-bottom: var(--primary-2px-border);
}
.header .header-top .action-link {
  cursor: pointer;
}
.header .header-top .action-link .action-icon {
  font-size: 2.4rem;
  margin-left: 16px;
  color: var(--primary-color);
}
.header .header-top .action-link .action-icon:hover {
  color: var(--primary-hover-color);
}
.header .header-top .action-link .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 16px;
}
.header .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  margin: 0 24px;
  padding: 6px 0;
  border-bottom: var(--primary-2px-border);
}
.header .header-bottom .header-title {
  margin: 0;
  color: var(--primary-color);
  font-weight: bold;
}
.header .header-bottom .add-button {
  background-color: var(--add-button-color);
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--white);
  font-weight: 500;
}
.header .header-bottom .add-button:hover {
  background-color: var(--primary-hover-color);
}
.header .header-bottom .add-button .add-icon {
  margin-right: 4px;
}
.header .header-bottom .add-button .add-content {
  font-size: 1.6rem;
}
