@using SIMS.Shared.Models

<div class="sidebar">
    <div class="sidebar-header">
        <a href="/" class="logo">
            <Logo />
        </a>
    </div>
    <nav class="sidebar-nav">
        <ul>
            @if (MenuItems != null)
            {
                @foreach (var item in MenuItems)
                {
                    <li class="nav-item @(item.IsActive ? "active" : "")">
                        <a href="@item.Url" class="nav-link" @onclick="() => SetActive(item)">
                            <i class="bi @item.Icon nav-icon"></i>
                            <span class="nav-label">@item.Label</span>
                            @if (item.IsActive)
                            {
                                <i class="bi bi-caret-right-fill icon-active"></i>
                            }
                        </a>
                    </li>
                }
            }
            <li class="nav-item">
                <a href="setting" class="nav-link">
                    <i class="bi bi-gear nav-icon"></i>
                    <span>Setting</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@code {
    [Parameter]
    public List<MenuItem> MenuItems { get; set; } = new List<MenuItem>();

    private void SetActive(MenuItem item)
    {
        foreach (var menuItem in MenuItems)
        {
            menuItem.IsActive = (menuItem == item);
        }
    }
}
