<h3>Table</h3>

<div class="container">
    @* Filter *@
    <div class="filter-container row">
        <div class="filter col col-lg-6">

        </div>
        <div class="search col-lg-6"></div>
    </div>
</div>

@code {

}
