.container {
    padding: 10px 24px;

    .table-container {
        max-height: 400px;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .table {
        border: var(--primary-2px-border);

        .table-head {
            position: sticky;
            top: -2px;
            background-color: var(--white);
            z-index: 500;
        }

        .table-header {
            background-color: var(--primary-color);
            color: var(--white);
        }

        .table-group-divider {
            border-top: var(--primary-2px-border);
            font-size: 1.3rem;

            .button-group {
                display: flex;
                justify-content: space-between;
                padding: 0 8px;

                .update-button {
                    background-color: var(--update-button-color);
                    border-radius: 4px;
                    color: var(--white);

                    &:hover {
                        background-color: var(--primary-color);
                    }
                }

                .delete-button {
                    background-color: var(--delete-button-color);
                    border-radius: 4px;
                    color: var(--white);

                    &:hover {
                        background-color: var(--primary-color);
                    }
                }
            }
        }
    }
}
