@page "/student/enrollment"
@layout SIMS.Shared.Layouts.MainLayout
@using SIMS.Shared.Models
@inject SIMS.Shared.Services.HeaderTitleService HeaderTitleService

<PageTitle>Enrollment</PageTitle>

<h3>Enrollment</h3>

@code {
    private string HeaderTitle = "Enrollment";

    protected override void OnInitialized()
    {
        HeaderTitleService.Title = HeaderTitle;

    }
}
