.body {
    border: var(--primary-2px-border);
    padding: 45px;

    .avatar {
        width: 150px;
        height: 150px;
        margin-top: 16px;

        .role-btn, .department-btn, .major-btn {
            padding: 6px 16px; 
            font-size: 1.6rem;
        }
    }

    .second-row-border {
        border-top: var(--primary-1px-border);
        margin-top: 10px;
    }

    .first-col-border {
        border-right: var(--primary-1px-border);
        border-left: var(--primary-2px-border);
    }

    .info-item {
        height: 70px;
        width: 100%;
        padding: 22px;

        i {
            margin-right: 6px;
            color: var(--primary-color);
        }
    }
}
