.body {
  border: var(--primary-2px-border);
  padding: 45px;
}
.body .avatar {
  width: 150px;
  height: 150px;
  margin-top: 16px;
}
.body .avatar .role-btn, .body .avatar .department-btn, .body .avatar .major-btn {
  padding: 6px 16px;
  font-size: 1.6rem;
}
.body .second-row-border {
  border-top: var(--primary-1px-border);
  margin-top: 10px;
}
.body .first-col-border {
  border-right: var(--primary-1px-border);
  border-left: var(--primary-2px-border);
}
.body .info-item {
  height: 70px;
  width: 100%;
  padding: 22px;
}
.body .info-item i {
  margin-right: 6px;
  color: var(--primary-color);
}
